/* Specs for headers */ 
h1 {
    font-size: 2em; /* Largest header */
    margin: 2 0 5px;
    font-weight: normal;
    border-bottom: 2px solid #24AE70; /* Optional underline */
    padding-bottom: 5px;
  }

h2 {
font-size: 1.5em; /* Largest header */
margin: 40px 0 5px; /* Adds 40px space above, 0px left/right, 5px below */
font-weight: normal;
border-bottom: 2px solid #24AE70; /* Optional underline */
padding-bottom: 5px;
}    

h3 {
  font-size: 1.2em; /* Largest header */
  margin: 40px 0 0; /* Adds 40px space above, 0px left/right, 5px below */
  font-weight: normal;
  border-bottom: 2px solid #24AE70; /* Optional underline */
  padding-bottom: 5px;
  }    

/* References collapsible styling */
.collapsible.references {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  details.references {
    background-color: white;
    padding: 10px;
    margin: 10px 1;
    border-radius: 5px;
  }
  summary.references {
    font-size: 1.5em;
    margin: 40px 0 5px;
    font-weight: normal;
    cursor: pointer;
    border-bottom: 2px solid #24AE70; /* Optional underline */
  }
  details.references summary.references {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

/* Specs for general collapsible sections */ 
.collapsible {
    background-color: #24AE70;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  details {
    background-color: #24AE7066;
    padding: 10px;
    margin: 10px 1;
    border-radius: 5px;
  }
  summary {
    font-size: 16px;
    cursor: pointer;
    border-bottom: none
  }
  a {
    color: #007BFF;
    text-decoration: none;
  }
  





