/* HBCD HEX color codes */ 
/* green: #24AE70 */ 
/* blue: #199BD6 */ 
/* red: #BE074C0 */ 
/* black/gray: #6b6b6b */ 

/* Specs for headers */ 
h1 {
    font-size: 2em;
    margin: 2 0 5px; /* space added above, left/right, and below */
    font-weight: normal;
    border-bottom: 2px solid #24AE70; /* underline color */
    padding-bottom: 5px;
  }

h2 {
font-size: 1.5em;
margin: 40px 0 5px;
font-weight: normal;
border-bottom: 2px solid #24AE70;
padding-bottom: 5px;
}    

h3 {
  font-size: 1.2em; 
  margin: 40px 0 0; 
  font-weight: normal;
  border-bottom: 2px solid #24AE70;
  padding-bottom: 5px;
  }    

/* Specs for general collapsible sections */ 
.collapsible {
    background-color: #24AE7066;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  details {
    background-color: #24AE7066; /* add 66 to make more transparent */ 
    padding: 10px;
    margin: 10px 1;
    border-radius: 5px;
  }
  summary {
    font-size: 16px;
    cursor: pointer;
    border-bottom: none
  }
  a {
    color: #007BFF;
    text-decoration: none;
  }


  /* References section collapsible styling */
.collapsible.references {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
details.references {
  background-color: white;
  padding: 10px;
  margin: 10px 1;
  border-radius: 5px;
}
summary.references {
  font-size: 1.5em;
  margin: 40px 0 5px;
  font-weight: normal;
  cursor: pointer;
  border-bottom: 2px solid #24AE70;
}
details.references summary.references {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}



